body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EFE8D8; /* Light Beige */
    color: #40312F; /* Dark Brown */
    height: 100dvh; /* Ensure full viewport height */
}

nav {
    background: #A27D72; /* Light Brown */
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #40312F; /* Dark Brown */
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 25px;
    background: #D2C097; /* Beige */
    transition: background-color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    background: #715151; /* Brown */
    color: #EFE8D8; /* Light Beige */
    transform: scale(1.1);
}

/* Button Animation */
@keyframes bounceIn {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

nav ul li a.animated {
    animation-duration: 1.25s;
}

nav ul li a.bounceIn {
    animation-name: bounceIn;
}

nav ul li a.bounce {
    animation-name: bounce;
}

nav ul li a.pulse {
    animation-name: pulse;
}

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue:400&display=swap'); 
@media all{     
  body {  
    font-family:sans-serif;
    font-size:1.0625rem;
    font-weight:400;
    line-height:1.15;
    color:#212529;
    text-align:left;
  }  
}  
@media all{ 
  * { 
    box-sizing: border-box;
  } 

  .container-fluid { 
    width: 100%; 
    padding-right: 10px; 
    padding-left: 10px; 
    margin-right: auto; 
    margin-left: auto;
  } 

  body { 
    margin: 0; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
    font-size: 1.0625rem; 
    font-weight: 400; 
    line-height: 1.47; 
    color: #212529; 
    text-align: left; 
    background-color: #FFFFFF;
  } 

  body { 
    background-color: #0d191f;
  } 

  html { 
    font-family: sans-serif; 
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
    -webkit-tap-highlight-color: transparent;
  } 
}     

:root { 
    --cmplz_text_line_height: calc(var(--cmplz_text_font_size) * 1.5); 
    --cmplz_text_font_size: 12px; 
} 

@media all{ 
  .c-hero--wrapper { 
    background-image: url("https://projectzomboid.com/blog/content/themes/rw-project-zomboid/assets/images/zombie-survival.jpg"); 
    background-size: contain; 
    background-repeat: no-repeat; 
    padding-top: 100px;
  } 
}     

@media (min-width: 768px){ 
  .c-hero--wrapper { 
    background-size: cover; 
    background-position: center -500px;
  } 
}     

@media (min-width: 992px){ 
  .c-hero--wrapper { 
    background-position: center; 
    padding-top: 185px;
  } 
}     

@media (min-width: 1215px){ 
  .c-hero--wrapper { 
    background-position: center 37%; 
    padding-top: 25px;
  } 
}     

@media all{ 
  *,:before,:after { 
    box-sizing: border-box;
  } 

  .container { 
    width: 100%; 
    padding-right: 10px; 
    padding-left: 10px; 
    margin-right: auto; 
    margin-left: auto;
  } 
}     

@media (min-width: 576px){ 
  .container { 
    max-width: 540px;
  } 
}     

@media (min-width: 768px){ 
  .container { 
    max-width: 720px;
  } 
}     

@media (min-width: 992px){ 
  .container { 
    max-width: 960px;
  } 
}     

@media (min-width: 1215px){ 
  .container { 
    max-width: 1215px;
  } 
}     

@media all{ 
  .pb-3 { 
    padding-bottom: 15px !important;
  } 
}     

@media (min-width: 992px){ 
  .pb-lg-4 { 
    padding-bottom: 20px !important;
  } 
}     

@media (min-width: 1215px){ 
  .pb-xl-5 { 
    padding-bottom: 30px !important;
  } 
}     

@media all{ 
  .row { 
    display: flex; 
    flex-wrap: wrap; 
    margin-right: -10px; 
    margin-left: -10px;
  } 

  .c-hero--content { 
    font-family: 'Bebas Neue', sans-serif, cursive; 
    font-weight: 500; 
    letter-spacing: 3px; 
    color: #FFFFFF; 
    font-size: 55px; 
    line-height: 55px;
  } 
}     

@media (min-width: 576px){ 
  .c-hero--content { 
    font-size: 55px; 
    line-height: 55px;
  } 
}     

@media (min-width: 992px){ 
  .c-hero--content { 
    font-size: 75px; 
    line-height: 75px;
  } 
}     

@media (min-width: 1215px){ 
  .mt-xl-12 { 
    margin-top: 100px !important;
  } 
}     

@media all{ 
  .col-12,.col-lg-8,.col-xl-6 { 
    position: relative; 
    width: 100%; 
    padding-right: 10px; 
    padding-left: 10px;
  } 

  .col-12 { 
    flex: 0 0 100%; 
    max-width: 100%;
  } 
}     

@media (min-width: 992px){ 
  .col-lg-8 { 
    flex: 0 0 66.66667%; 
    max-width: 66.66667%;
  } 
}     

@media (min-width: 1215px){ 
  .col-xl-6 { 
    flex: 0 0 50%; 
    max-width: 50%;
  } 
}     

@media all{ 
  .col-12,.col-lg-4,.col-xl-3 { 
    position: relative; 
    width: 100%; 
    padding-right: 10px; 
    padding-left: 10px;
  } 
}     

@media (min-width: 992px){ 
  .col-lg-4 { 
    flex: 0 0 33.33333%; 
    max-width: 33.33333%;
  } 
}     

@media (min-width: 1215px){ 
  .col-xl-3 { 
    flex: 0 0 25%; 
    max-width: 25%;
  } 

  .offset-xl-3 { 
    margin-left: 25%;
  } 
}     

@media all{ 
  .my-5 { 
    margin-top: 30px !important;
  } 

  .my-5 { 
    margin-bottom: 30px !important;
  } 
}     

@media (min-width: 1215px){ 
  .my-xl-0 { 
    margin-top: 0 !important;
  } 

  .my-xl-0 { 
    margin-bottom: 0 !important;
  } 
}     

@media all{ 
  .col-12,.col-lg-4 { 
    position: relative; 
    width: 100%; 
    padding-right: 10px; 
    padding-left: 10px;
  } 

  .d-table { 
    display: table !important;
  } 

  .h-100 { 
    height: 100% !important;
  } 

  h2 { 
    margin-top: 0; 
    margin-bottom: 10px;
  } 

  h2 { 
    margin-bottom: 10px; 
    font-weight: 700; 
    line-height: 1.2;
  } 

  h2 { 
    font-size: 2.125rem;
  } 

  h2 { 
    color: #FFFFFF; 
    font-family: 'Bebas Neue', sans-serif, cursive; 
    font-weight: 500; 
    letter-spacing: 2px;
  } 

  .c-header--2 { 
    font-family: 'Bebas Neue', sans-serif, cursive; 
    font-weight: 500; 
    letter-spacing: 2px; 
    color: #FFFFFF; 
    position: relative; 
    z-index: 5; 
    font-size: 35px; 
    line-height: 35px;
  } 
}     

@media (min-width: 576px){ 
  .c-header--2 { 
    font-size: 45px; 
    line-height: 45px;
  } 
}     

@media (min-width: 992px){ 
  .c-header--2 { 
    font-size: 60px; 
    line-height: 60px;
  } 
}     

@media all{ 
  .c-hero--grid h2  { 
    font-family: 'Bebas Neue', sans-serif, cursive; 
    font-weight: 500; 
    letter-spacing: 3px; 
    text-shadow: 2px 2px 4px #000000;
  } 

  .c-header--2:before { 
    content: ""; 
    display: table; 
    background-image: url("https://projectzomboid.com/blog/content/themes/rw-project-zomboid/assets/images/bloodline.png"); 
    background-size: contain; 
    position: absolute; 
    z-index: -1; 
    background-repeat: no-repeat; 
    background-position: center center; 
    height: 100%; 
    width: 30%;
  } 
}     

@media (min-width: 768px){ 
  .c-header--2:before { 
    width: 40%;
  } 
}     

@media (min-width: 992px){ 
  .c-header--2:before { 
    width: 48%;
  } 
}     

@media all{ 
  img { 
    vertical-align: middle; 
    border-style: none;
  } 

  img { 
    max-width: 100%; 
    margin-bottom: 10px; 
    height: auto;
  } 

  p { 
    margin-top: 0; 
    margin-bottom: 1rem;
  } 

  p { 
    font-family: 'Nunito Sans', sans-serif; 
    letter-spacing: 0px; 
    font-size: 17px; 
    line-height: 25px; 
    color: #FFFFFF;
  } 

  .align-middle { 
    vertical-align: middle !important;
  } 

  .d-table-cell { 
    display: table-cell !important;
  } 

  .c-text--shadow { 
    text-shadow: 2px 2px 4px #000000;
  } 

  .col-12,.col-sm-6,.col-lg-12 { 
    position: relative; 
    width: 100%; 
    padding-right: 10px; 
    padding-left: 10px;
  } 
}     

@media (min-width: 576px){ 
  .col-sm-6 { 
    flex: 0 0 50%; 
    max-width: 50%;
  } 
}     

@media (min-width: 992px){ 
  .col-lg-12 { 
    flex: 0 0 100%; 
    max-width: 100%;
  } 

  .mt-lg-1 { 
    margin-top: 5px !important;
  } 
}     

@media all{ 
  .mt-1 { 
    margin-top: 5px !important;
  } 
}     

@media (min-width: 768px){ 
  .mt-md-2 { 
    margin-top: 10px !important;
  } 
}     

@media all{ 
  a { 
    color: #383636; 
    text-decoration: none; 
    background-color: transparent;
  } 

  a { 
    color: #cd003b;
  } 

  .btn { 
    display: inline-block; 
    font-weight: 400; 
    color: #212529; 
    text-align: center; 
    vertical-align: middle; 
    cursor: pointer; 
    -webkit-user-select: none; 
    user-select: none; 
    background-color: transparent; 
    border: 2px solid transparent; 
    padding: 0.375rem 0.75rem; 
    font-size: 1.0625rem; 
    line-height: 1.47; 
    border-radius: 0.25rem; 
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  } 

  .bg-blue-grey { 
    background-color: #2f3b43 !important;
  } 

  .text-left { 
    text-align: left !important;
  } 
}     

@media (min-width: 768px){ 
  .text-md-center { 
    text-align: center !important;
  } 
}     

@media all{ 
  .text-white { 
    color: #FFFFFF !important;
  } 

  .px-3 { 
    padding-right: 15px !important;
  } 

  .px-3 { 
    padding-left: 15px !important;
  } 

  .c-bg { 
    background-size: contain; 
    background-repeat: no-repeat; 
    border: 0px; 
    position: relative; 
    box-shadow: 0px 0px 5px #000000;
  } 

  .c-bg--spiffo { 
    padding-top: 20px; 
    padding-bottom: 20px; 
    margin-bottom: 5px; 
    min-height: 100px; 
    background-image: url("https://projectzomboid.com/blog/content/themes/rw-project-zomboid/assets/images/spiffo.png"); 
    background-position: right bottom; 
    background-size: 22%;
  } 

  .c-btn { 
    font-family: 'Bebas Neue', sans-serif, cursive; 
    font-weight: 500; 
    letter-spacing: 2px; 
    display: block; 
    font-size: 30px; 
    line-height: 30px; 
    font-family: 'Bebas Neue', cursive; 
    color: #FFFFFF;
  } 

  a:hover { 
    color: #111010; 
    text-decoration: none;
  } 

  a:hover { 
    color: #cd003b;
  } 

  .btn:hover { 
    color: #212529; 
    text-decoration: none;
  } 

  a.bg-blue-grey:hover { 
    background-color: #1a2125 !important;
  } 

  .bg-red { 
    background-color: #cd003b !important;
  } 

  .pr-0 { 
    padding-right: 0 !important;
  } 

  .pl-3 { 
    padding-left: 15px !important;
  } 

  .c-bg--steam { 
    padding-top: 20px; 
    padding-bottom: 20px;
  } 
}     

@media (min-width: 992px){ 
  .c-bg--steam { 
    background-image: url("https://projectzomboid.com/blog/content/themes/rw-project-zomboid/assets/images/steam.svg"); 
    background-size: 50px 50px; 
    background-position: 20px center; 
    text-indent: 65px;
  } 
}     

@media all{ 
  .c-bg--steam:before { 
    position: absolute; 
    right: 0; 
    top: 0; 
    background-color: #FFFFFF; 
    color: #383636; 
    border-radius: 0 3px 0 0; 
    text-indent: 0px; 
    font-weight: 500; 
    font-size: 14px; 
    line-height: 14px; 
    padding: 6px 5px 4px 5px; 
    font-family: 'Nunito Sans', sans-serif; 
    letter-spacing: 0px; 
    content: "-33%";
  } 
}     

.c-bg--steam:before,.c-bg--gog:before { 
    display: none;
} 

.c-bg--steam:before { 
    display: none;
} 

@media all{ 
  .c-bg--steam:after { 
    position: absolute; 
    right: 10px; 
    bottom: 10px; 
    text-indent: 0px; 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: right; 
    content: ""; 
    width: 100px; 
    height: 20px; 
    background-image: url("https://projectzomboid.com/blog/content/themes/rw-project-zomboid/assets/images/platforms.png");
  } 

  a.bg-red:hover { 
    background-color: #9a002c !important;
  } 

  .c-bg--gog { 
    background-color: #471666; 
    padding-top: 20px; 
    padding-bottom: 20px;
  } 
}     

@media (min-width: 992px){ 
  .c-bg--gog { 
    background-image: url("https://projectzomboid.com/blog/content/themes/rw-project-zomboid/assets/images/GOG.com.svg"); 
    background-size: 80px 80px; 
    background-position: 0px center; 
    text-indent: 65px;
  } 
}     

@media all{ 
  .c-bg--gog:before { 
    position: absolute; 
    right: 0; 
    top: 0; 
    background-color: #FFFFFF; 
    color: #383636; 
    border-radius: 0 3px 0 0; 
    text-indent: 0px; 
    font-weight: 500; 
    font-size: 14px; 
    line-height: 14px; 
    padding: 6px 5px 4px 5px; 
    font-family: 'Nunito Sans', sans-serif; 
    letter-spacing: 0px; 
    content: "-33%";
  } 

  .c-bg--gog:after { 
    position: absolute; 
    right: 10px; 
    bottom: 10px; 
    text-indent: 0px; 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: right; 
    content: ""; 
    width: 100px; 
    height: 20px; 
    background-image: url("https://projectzomboid.com/blog/content/themes/rw-project-zomboid/assets/images/platforms.png");
  } 

  .d-block { 
    display: block !important;
  } 

  .mb-2 { 
    margin-bottom: 10px !important;
  } 

  .c-btn span  { 
    font-family: 'Nunito Sans', sans-serif; 
    letter-spacing: 0px;
  } 

  .c-btn span.message  { 
    font-size: 17px; 
    line-height: 17px;
  } 
}     

.c-bg--steam .price  { 
    margin-left: -5px;
} 

@media all{ 
  .c-btn span.price  { 
    font-size: 20px; 
    line-height: 20px;
  } 
}     

.c-bg--gog .price  { 
    margin-left: -5px;
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-JxUzn.style-JxUzn {  
   background-image:url( https://projectzomboid.com/blog/content/uploads/2020/01/zombie-survival-1-scaled.jpg );  
}  


/* Footer */
footer {
    background: #715151; /* Brown */
    color: #EFE8D8; /* Light Beige */
    text-align: center;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer img {
    margin-bottom: 5px;
}

footer p {
    margin: 0;
}